table {
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  img{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
  }
  